*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.container{
    width: 1000px;
    background-color: azure;
    margin: 0 auto;
    padding: 50px;

}

.img{
    height: 400px;
    width: 320px;
    float: right;
    padding-top: 70px;
}

.pre{
    text-shadow: 1px 1.5px green;
}
.div_class{
    clear: both;
}


table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
    
}

hr{
    border: 3px solid green;
    border-bottom: none;
    margin-top: 30px;
}

.address-div{
    background-color: green;
}

.per-address{
    width: 900px;
    padding: 10px;
}